<p>mobile-solar-power-station works!</p>
<div>
	  	<h3 class = "jumbotron divone">Mobile Solar Power Station</h3>
		<div class = "jumbotron v2 divone">
			<p>The goal of this project was to create a portable power station made out of aluminum and steel in order to supply power to people outdoors and in incliment weather. The ideal deployment includes wheels and a lightweight structure that allows for easy maneuvering and transport as well as solar panels for charging, a battery for storage of energy from the solar panels, and the ability to use common electrical plugs for ease of use. </p>
		</div>
		<div class = "jumbotron d-inline-flex divone">
			<img class = "d-inline-flex" src = "./assets/solarpowerview1.png" />
			<img class = "d-inline-flex" src = "./assets/solarpowerview2.png" />
			<img class = "d-inline-flex" src = "./assets/solarpowerview3.png" />
		</div>
	</div>